<section class="row inner_page">
  <div class="ten columns offset-by-one">
    <article class="content eight columns">
      <h3>About us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum augue, commodo sed condimentum ut, consequat vitae lacus. Fusce ac felis eu ligula condimentum pellentesque. Vestibulum non ligula lorem. Quisque fringilla, risus a gravida varius, enim libero porta erat, et consectetur tellus nibh sit amet eros. Ut mi lacus, luctus nec ullamcorper ultricies, semper vel erat. Cras cursus suscipit elit at porttitor. Pellentesque lacus ligula, ornare nec sollicitudin non, semper eget ipsum. Phasellus suscipit arcu ut purus bibendum tempus. Praesent elementum nisi eget urna imperdiet tempor. Integer hendrerit velit tempor quam sagittis luctus. Aenean scelerisque viverra mi sit amet eleifend. Etiam malesuada eros eget enim semper pulvinar. Donec hendrerit ligula ac odio tincidunt accumsan. Integer suscipit lacus id orci feugiat interdum. Duis adipiscing, mauris vel laoreet convallis, quam mi pulvinar est, vitae euismod arcu tellus ut nisl. In consectetur nulla a elit condimentum commodo.</p>

      <p>Maecenas tempor posuere pretium. Vestibulum ante turpis, congue in elementum nec, mattis a risus. Aliquam fringilla erat non nibh lacinia consequat. Suspendisse potenti. Pellentesque euismod interdum venenatis. Nunc bibendum nisl id urna volutpat eu faucibus turpis adipiscing. In sit amet hendrerit nulla. Aliquam mi nisl, molestie id consequat et, tristique sed quam. Morbi sollicitudin ornare turpis vel malesuada.</p>
    </article><!--content-->
    
   <%= render "sidebar" %>
  </div><!--ten-columns-->
</section><!--featured-->