<section class="row inner_page">
  <div class="ten columns offset-by-one">
    <article class="content eight columns">
      <h3>About Resumonk</h3>
      <p>Your resume is the most important portion of your job application. It is the first document that potential employers see, and if they are not impressed, chances are they won’t look at the rest of your job application. A good quality resume could be the deciding factor in your job search success. In such cases, you cannot afford to show potential employers a poorly-formatted and visually unappealling advertisement of your experience and skills.</p>
      <p>Resumonk is an online resume builder that saves you money and time by helping you create professional and beautiful resumes. Resumonk handles the job of formatting and converting your resume into pdf format, thereby letting you focus on writing quality content. </p>

      <h4>Features</h4>
      
      <ol class="feature_list"> 
        <li>
          <h5>Easy-to-use resume builder</h5> 
          <p> Resumonk provides an intuitive and easy-to-use interface that makes creating and maintaining resumes really easy.</p>
        </li>
        
        <li>
          <h5>Control your privacy</h5> 
          <p>  With Resumonk, you can store your resume safely and securely and have it available whenever you need. Each resume that you create will be hosted online and you will have complete freedom to decide whom you want to share your resume with.</p>
        </li>
        
        <li>
          <h5>Update, customize and manage multiple resumes</h5> 
          <p> Customizing your resume for each position you apply to can be critical since it is important your resume conveys you as a perfect match for the job. To help you tailor your resume to each specific position, Resumonk lets you create and manage multiple resumes quickly and easily.</p>
        </li>
        
        <li>
          <h5>Share easily</h5> 
          <p>Each resume that you create will have a unique URL that you can use to share your resume via email, Facebook and Twitter. Also, Resumonk lets you save your resume as a PDF so that you can print it any time.</p>
        </li>
        
        <li>
          <h5>Professional, elegant and modern resume designs</h5> 
          <p> Your employer will spend as little as 20 seconds scanning your resume. In order to make an impression on potential employers, your resume needs to visually appealing and eye-catching. Our collection of beautifully designed and well-structured resume templates helps your resume stand out.</p>
        </li>
      </ol>

      
     
     
     
    </article><!--content-->
    
   <%= render "sidebar" %>
  </div><!--ten-columns-->
</section><!--featured-->