<section class="row inner_page">
  <div class="ten columns offset-by-one">
    <article class="content eight columns">
      <h3>Frequently Asked Questions</h3>
      
      <strong>What is Resumonk and why should I use it?</strong>
      <p>Resumonk is an online resume builder that helps you create a beautiful and professional resume in minutes. Instead of wasting time formatting Word documents, just fill in your details using Resumonk's intuitive interface and have a professional, elegant and formatted resume ready in less than 5 minutes online.</p>
      
      <strong>Where can I the resume templates and samples?</strong>
      <p>Resumonk provides a collection of beatifully designed resume templates to choose from. <a href="#" title="Resume templates">Follow this link</a> to find a resume design that suits your individual personality. </p>
    
      <strong>How do I share my resume with others?</strong>
      <p>Every resume that you create will have a unique URL that you can use to share your resume with others on social networks such as LinkedIn, Facebook, Twitter etc. Your resume's visibility is automatically set as 'private' so that only those with whom you share the link will be able to see your resume.</p> 
      
      <strong>Can I create more than one resume?</strong>
      <p>You can create as many resume's as you like. Just click on the "New Resume" button at the top of the page to create a new resume.</p>
      
      <strong>How much does Resumonk cost?</strong>
      <p>Resumonk is completely free for personal use.<br />
      However, Resumonk has cost me a lot of hours of work, if you use it, please <a href="#" title="Please donate to help us maintain this app!">donate a token of your appreciation.</a></p>

      <strong>Who's behind this project?</strong>
     <p>Resumonk is developed and maintained by <a href="http://bharani.herokuapp.com">Bharani Muthukumaraswamy</a>, a Designer/Environmental Engineer from Delhi, India. If you have any suggestions, ideas or bug reports, please feel free to <a href="mailto:bharani91@gmail.com" title="Drop me a line">drop me a line</a>.</p>
      
      
    </article><!--content-->
    
   <%= render "sidebar" %>
  </div><!--ten-columns-->
</section><!--featured-->