<section class="row inner_page">
  <div class="ten columns offset-by-one">
    <article class="content eight columns">
      <h3>Conditions of Use</h3>
      
      <p>Welcome to Resumonk.com! Resumonk and its associates provide their services to you subject to the following conditions. If you visit or shop within this website, you accept these conditions. Please read them carefully.</p>
      
      <strong>Privacy</strong><br /><br />
      <p>Please review our Privacy Notice, which also governs your visit to our website, to understand our practices.</p>

      <strong>Electronic Communications</strong><br /><br />
     <p> When you visit Resumonk or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
     
      <strong>Copyright</strong><br /><br />
     <p> All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Resumonk or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of Resumonk, with copyright authorship for this collection by Resumonk, and protected by international copyright laws.</p>
      <strong>Trade Marks</strong><br /><br />
      <p>Resumonks trademarks and trade dress may not be used in connection with any product or service that is not Resumonks, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Resumonk. All other trademarks not owned by Resumonk or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Resumonk or its subsidiaries.</p>
      
      <strong>License and Site Access</strong><br /><br />
      <p>Resumonk grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of Resumonk. This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Resumonk. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Resumonk and our associates without express written consent. You may not use any meta tags or any other "hidden text" utilizing Resumonks name or trademarks without the express written consent of Resumonk. Any unauthorized use terminates the permission or license granted by Resumonk. You may not use any Resumonk logo or other proprietary graphic or trademark as part of the link without express written permission.</p>
      
      <strong>Your Membership Account</strong><br /><br />
     <p> If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.</p>
      
      <strong>Reviews, Comments, Emails, and Other Content</strong><br /><br />
     <p> Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Resumonk reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content.</p>
      <p>If you do post content or submit material, and unless we indicate otherwise, you grant Resumonk and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Resumonk and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify Resumonk or its associates for all claims resulting from content you supply. Resumonk has the right but not the obligation to monitor and edit or remove any activity or content. Resumonk takes no responsibility and assumes no liability for any content posted by you or any third party.</p>
      
      <strong>Questions</strong><br /><br />
     <p> Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu. Or you can email us at: info@Resumonk.com</p>
      
      
      
    </article><!--content-->
    
   <%= render "sidebar" %>
  </div><!--ten-columns-->
</section><!--featured-->