<div class="row">
  <div class="eight columns offset-by-two login_box">
    <div class="monk three columns">
      <%= image_tag("monk.png") %>
    </div>
    
    <%= render 'form' %>
    
  </div><!--ten columns-->
</div><!--row-->



