
* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/24px Georgia, "Times New Roman", Times, serif;
  color: #58595b;
}


h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

h2 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #848484;
}

h3 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

h4  {
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0;
  color: #000;
}

p {
  margin-bottom: 10px;
}

a:link, a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
  color: #000;
}



/* @end */



/* @group about */

#about {
  width: 950px;
  padding: 20px 0 59px;
  margin: 0 auto;
  border-top: 10px solid #ccc;
  overflow: hidden;
}

#about h1 {
  margin-bottom: 4px;
  margin-top: 2px;
}

#about h2 {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 14px;
}

/* --- */

#story {
  font-size: 18px;
  line-height: 30px;
  width: 560px;
  float: left;
  padding-right: 90px;
  margin-right: 40px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

#story h2 {
  font-size: 20px;
  color: #232323;
}


/* @group contact */

#contact {
  width: 300px;
  float: left;
  padding-top: 20px;
  list-style-type: none;
  line-height: 20px;
  font-size: 18px;

}

#contact li {
  width: 300px;
  overflow: hidden;
  margin-bottom: 5px;
}



#contact li strong {
  float: right;
  text-align: right;
  color: #3c3c3c;
  font-weight: normal;
  font-style: normal;
}



/* @end */



/* @end */

/* @group section */

.section {
  width: 950px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

#about .section h2 {
  width: 160px;
  padding-right: 30px;
  float: left;
  padding-top: 0;
  line-height: 22px;
  font-size: 22px;
}

.section h3 {
  line-height: 22px;
  margin-bottom: 24px;
  font-style: italic;
}

.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: -20px;
}

.section .date {
  position: absolute;
  top: 6px;
  right: 0;
}

.section .item {
  width: 730px;
  padding-left: 30px;
  float: right;
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../images/separator.png) no-repeat 0 bottom;
}

.section .description {
  width: 530px;
}

.skills .description  {
  width: 710px;
}

.skills .description p {
  color: #58595b;
}



/* @end */

/* @group small */

body.small {
}

body.small #header ul  {
  width: 750px;
}

body.small #about {
  width: 750px;
  position: relative;
  padding-bottom: 65px;
  min-height: 260px;
}

body.small #about #story {
  float: none;
}

body.small #about #contact {
  float: none;
  padding-top: 0;
  padding-right: 0;
  clear: left;
}

body.small #about #picture {
  clear: none;
  float: none;
  position: absolute;
  top: 80px;
  right: 0;
}

/* --- */

body.small .section {
  width: 750px;
}

body.small .section .item {
  width: 510px;
}



/* @end */

/* @group footer */

#footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* @end */