  * { margin: 0; padding: 0; }
  body { font: 16px Helvetica, Sans-Serif; line-height: 22px;}
  .clear { clear: both; }
  #page-wrap { width: 800px; margin: 20px auto 60px; }
  #pic { float: right; margin: -30px 0 0 0; }
  h1 { font-size: 38px; width: 500px; line-height: 1.1; float: left; font-weight: bold;}
  p.info  { width: 300px; float: right; margin-top: -20px;}
  div#contact-info  { border-bottom: 1px solid #000 }
  h2 { font-size: 20px; margin: 0 0 3px 0; position: relative; }
  h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
  span.gpa { font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
  p { margin: 0 0 16px 0; }
  a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
  a:hover { border-bottom-style: solid; color: black; }
  ul { margin: 0 0 32px 17px; }
  #objective { float: left; }
  #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
  dt { font-style: italic; font-weight: bold; font-size: 16px; text-align: right; padding: 0 0 0 0; width: 100px; float: left; height: 100px;   }
  dd { width: 650px; float: right;}
  h3.references { width: 600px; float: right; font-style: italic; color: #999;}
  dd.full {border-left: 1px solid #999; padding-left: 26px;}
  dd.clear { float: none; margin: 0; height: 15px; }
  
  .clearfix:after {
  	content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
  }

  .clearfix {
  	display: inline-block;
  }

  html[xmlns] .clearfix {
  	display: block;
  }

  * html .clearfix {
  	height: 1%;
  }